<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/style.css">

  
</head>

<body>
    <nav id="navbar" class="navbar navbar-dark bg-dark" data-userid="{{user_id}}">
        <a class="navbar-brand" href="/">App for Our Life</a>
    </nav>
    <!-- <div class="wrapper">
    <form action="/" method="post" class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <a href="/registration" class="btn btn-lg btn-primary btn-block">Register</a>   
    </form>
  </div>
   -->
  
</body>
</html>
